body {
    font-family: Arial, sans-serif;
    background: #caf0f8;
    margin: 0;
    padding: 20px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #03045e;
}

.result-box {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 30px;
}

.result-box img {
    width: 300px;
    border-radius: 8px;
    border: 3px solid #00b4d8;
    margin-bottom: 20px;
}

.diagnosis h2 {
    color: #0077b6;
}

.severity-scale {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.level {
    padding: 10px;
    background: solid var(--color)      ;
    border-left: 6px ;
    text-align: left;
    font-weight: bold;
}

.level[style*="--level:0"] { --color: #4CAF50; }
.level[style*="--level:1"] { --color: #FFC107; }
.level[style*="--level:2"] { --color: #FF9800; }
.level[style*="--level:3"] { --color: #F44336; }
.level[style*="--level:4"] { --color: #9C27B0; }

.message-box {
    margin-top: 30px;
    background: #90e0ef;
    padding: 20px;
    border-radius: 8px;
    color: #03045e;
    font-size: 16px;
    font-weight: 500;
}

.analyze-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}
